<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <!--<appSettings>
    <add key="AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ClientId" value="5cd603ac-902f-477c-8c36-rasew9c2ce" />
    <add key="TenantId" value="ec5fb70a-7f02-4854-a920-8ff44ae68121" />
    <add key="ResourceIdForServer1" value="https://enterprisedirectory.onmicrosoft.com/d64fb064-9628-466dewrewrwe" />
    <add key="ResourceIdForServer2" value="https://enterprisedirectory.onmicrosoft.com/009022fe-d2db-497werwer" />

    <add key="RedirectUri" value="http://WindowsFormAD" />
  </appSettings>-->

  <appSettings>
    <add key="AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ClientId" value="wer83f9-6375-412b-b8werwer" />
    <add key="TenantId" value="65459386-47bwer" />
    <add key="ResourceIdForServer1" value="https://TestOrg101090.onmicrosoft.com/979798-48b8-9ac70577" />
    <add key="RedirectUri" value="http://client" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>